@{
    ViewBag.Title = "Inicio";

    if (Session["idUsuario"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">




    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("Index", "Personas")">
                        <img src="~/Img/add-contact.png"  class="card-img-top" alt="..."  />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>Personas</b></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="#">
                    <img src="~/Img/magnifier.png" class="card-img-top" alt="..." />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>Buscar</b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("Index", "Bautismos")">
                        <img src="~/Img/BautismoLogo.png" class="card-img-top" alt="..." />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>Bautismo</b></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("Index", "PrimeraComunions")">
                        <img src="~/Img/LogoComunion.png" class="card-img-top" alt="..." />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>Comunión</b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="#">
                        <img src="~/Img/LogoConfirmación.png" class="card-img-top" alt="..." />
                    </a>              
                    <div class="card-body">
                        <h5 class="card-title"><b>Confirmación</b></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <a href="#">
                        <img src="~/Img/LogoMatrimonio.png" class="card-img-top" alt="..."/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><b>Matrimonio</b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>